################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BasicNN_TimeSeries_Sandbox/__pycache__
/.vs/BasicNN_TimeSeries_Sandbox/v15
